html,
body {
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
}

.game {
  display: flex;
  justify-content: center;
}

.game-instructions {
  width: 350px;
}

#minesweeper-app {
  margin: auto;
}

.minesweeper-grid {
  border-collapse: collapse;
  margin: auto;
}

.minesweeper-cell {
  border: 1px solid black;
  height: 40px;
  width: 40px;
  /* default blank background */
  background-image: url(http://i.imgur.com/HM1e3Tbb.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hide-cell-contents {
  background-image: url(http://i.imgur.com/HM1e3Tbb.jpg) !important;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.opened-blank-cell {
  background-image: url(http://i.imgur.com/Flqdqi1b.jpg);
}

.cell-pressed {
  background-image: url(http://i.imgur.com/bGT8xGEb.jpg);
}

.flagged {
  background-image: url(http://i.imgur.com/nLPvW15b.jpg);
}

.bomb-exposed {
  background-image: url(http://i.imgur.com/pTJ8Swhb.jpg);
}

.bomb-exploded {
  background-image: url(http://i.imgur.com/UFmXprFb.jpg);
}

.bomb-count-0 {
  background-image: url(http://i.imgur.com/Flqdqi1b.jpg);
}

.bomb-count-1 {
  background-image: url(http://i.imgur.com/bM8oExob.jpg);
}

.bomb-count-2 {
  background-image: url(http://i.imgur.com/bQKSbqYb.jpg);
}
.bomb-count-3 {
  background-image: url(http://i.imgur.com/5jNcEeVb.jpg);
}
.bomb-count-4 {
  background-image: url(http://i.imgur.com/BnxjHgHb.jpg);
}

.bomb-count-5 {
  background-image: url(http://i.imgur.com/RaFrMYcb.jpg);
}
.bomb-count-6 {
  background-image: url(http://i.imgur.com/GlwQOy0b.jpg);
}

.bomb-count-7 {
  background-image: url(http://i.imgur.com/8ngsVa8b.jpg);
}

.bomb-count-8 {
  background-image: url(http://i.imgur.com/lJ8P1wab.jpg);
}

.flagged {
  background-image: url(http://i.imgur.com/nLPvW15b.jpg);
}

.modal {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
  background-color: rgba(254, 254, 254, 0.5);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  text-align: center;
}

.button {
  margin: 20px auto;
  border: 1px solid black;
  background-color: aquamarine;
  font-size: large;
  border-radius: 10px;
}

#start-solvers:hover {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
